:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  line-height: 20px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.grid {
  width: 680px;
  height: 700px;
  padding: 10px;
  background-color: #f0f0f0;
}

.grid .grid-cell {
  margin: 2px;
  width: 62px;
  height: 62px;
  font-size: 44px;
  font-weight: bold;
  line-height: 58px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #999;
}

.grid .grid-cell:hover {
  background-color: #ddd;
}

.winner-display {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Adjust the z-index value to ensure it's above other elements */
  background-color: white;
  padding: 40px;
  border: 2px solid #333;
  text-align: center;
}

.winner-display button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #0070d0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Optional: Style for overlay background */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; /* Adjust the z-index value */
  display: flex;
  align-items: center;
  justify-content: center;
}
